*,*::after, *::before{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 70%;
}
body{
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-black);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}
a:hover{
  color: var(--green);
  font-weight: 500;
}
button{
  background-color: transparent;
  border: none;
}

:root{
  --nav-gray: #3c3c3c;
  --darkblue: #84a1a5;
  --white: #ffffff;
  --background-black: #1a1a1a;
  --green: #1de86a;
  --licht: #4a4a4a;
}  
  
::-webkit-scrollbar {
  display: none;
}
