/* stations*/
.all_stations{
  display: none;
}


/* Navigatiebalk */

.nav{
  position: fixed;
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: var(--nav-gray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 21;
}
.nav__logo{
  width: 10vw;
  text-transform: uppercase;
  font-weight: bolder;
  margin-left: 10vw;
}
.logo{
  height: auto;
}
.nav__menu{
  width: 40vw;
  position: absolute;
  right: 10vw;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
}
.nav__item{
  width: 10vw;
}
.menu_mobile{
  position: fixed;
  top: 0vh;
  right: 0vw;
  background-color: var(--nav-gray);
  height: 100vh;
  width: 33vw;
  display: none;
}
.menu_mobile__item{
  position: relative;
  top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
}

.nav__toggler div{
  
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.4rem;
  border-radius: 5px;
  background-color: var(--white);
}
.nav__toggler{
   cursor: pointer;
   display: none;
}

@media screen and (max-width: 770px) {
  .nav{
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .nav__toggler{
      margin-left: 60vw;
      display: block;
      z-index: 22;
  }
  .nav__menu{
      position: fixed;
      top: 0vh;
      right: 0vw;
      width: 50%;
      height: 100vh;
      padding-top: 10vh;
      background-color: var(--nav-gray);
      flex-direction: column;
      gap: 4vh;
      transform: translateX(98vh);
  }
  .menu_mobile{
    display: block;
  }
}






/* De body van de pagina*/

.container{
  width: 80vw;
  margin-bottom: 11vw;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10vw;
  background-color: var(--background-black);
}

.bike__info__container{
  position: relative;
  height: 6vh;
  width: 35vw;
  border-radius: 10px;
  background-color: var(--background-black);
  display: none;
  flex-direction: row;
  gap: 4vw;
  transition-duration: 0.3s;
}
.bike1__plaatsen, .bike1__fietsen{
  display: flex;
  position: relative;
  top: 1.5vh;
  left: 3vw;
  font-size: 2.5vh;
  font-weight: 300;
}
.bike1__aantal-plaatsen{
  color: var(--green);
  font-weight: 600;
  margin-right: 1vw;
}
.bike1__aantal-fietsen{
  color: var(--green);
  font-weight: 600;
  margin-right: 1vw;
}
.go1{
  cursor: pointer;
  background-color: var(--green);
  color: var(--background-black);
  font-weight: 600;
  font-size: 2.5vh;
  border: none;
  border-radius: 10px;
  height: 6vh;
  padding-left: 3vh;
  padding-right: 3vh;
  margin-left: 11vw;
  text-transform: uppercase;
}
.pin_icon{
  height: 2vw;
  width: 1.5vw;
  margin-right: 2vw;
}
.bike__title{
  position: relative;
  left: 2vw;
  top: 1vw;
  color: var(--white);
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
}
.aantal_fietsen, .aantal_plaatsen{
  margin-right: 1vw;
}
.km1{
  color: var(--green);
  font-weight: 700;
  font-size: 2vw;
}

.bike1, .bike2, .bike3{
  position: relative;
  top: 16vh;
  margin-bottom: 6vh;
  height: 12vw;
  filter: brightness(1);
  border-radius: 15px;
  transition-duration: 0.3s;
  filter: contrast(1.2);
  overflow: hidden;
  text-transform: uppercase;
}
.bike1{
  background-image: url('../../public/city-img-centraal.png');
  background-size: 100%;
}
.bike2{
  background-image: url('../../public/city-img-brug.png');
  background-size: 100%;
}
.bike3{
  background-image: url('../../public/city-img-mair.png');
  background-size: 100%;
}
.bike1:hover, .bike2:hover, .bike3:hover{
  top: 15.5vh;
  filter: brightness(1);
  transition-duration: 0.3s;
  .bike__info__container{
      display: flex;
      transition-duration: 0.3s;
  }
}


@media screen and (max-width: 770px) {
  .bike1, .bike2, .bike3{
      height: 30vw;
      top: 15vh;
      margin-bottom: 5vh;
      background-size: cover;
  }
  .pin_icon{
    height: 3.8vw;
    width: 2.5vw;
    margin-right: 2vw;
  }
  .bike__title{
      position: relative;
      left: 3vw;
      top: 1vw;
      color: var(--white);
      font-size: 5vw;
      font-weight: 700;
      letter-spacing: 0.1vw;
  }
  .km1{
      color: var(--green);
      font-weight: 700;
      font-size: 5vw;
      margin-top: 0.5vh;
  }
  .bike__info__container{
      display: flex;
      height: 6vw;
      width: 55vw;
      margin-top: 1vh;
      margin-bottom: 1vh;
      background-color: var(--white);
      color: var(--background-black);
  }
  .bike1__plaatsen, .bike1__fietsen{
      left: 5vw;
      top: 1vw;
      font-size: 3.5vw;
      font-weight: 400;
  }
  .bike1__aantal-plaatsen{
      color: var(--nav-gray);
  }
  .bike1__aantal-fietsen{
      color: var(--nav-gray);
  }
  .go1{
      height: 6vw;
      padding-left: 2vw;
      padding-right: 2vw;
      margin-left: 8vw;
      font-size: 4vw;
  }
}
